<a href="https://colab.research.google.com/github/ishu121992/Semantic-Search/blob/main/semantics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pandas numpy nltk chromadb tqdm sentence-transformers torch torchvision

In [20]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
from nltk import sent_tokenize, word_tokenize
import chromadb
from chromadb.utils import embedding_functions
from tqdm import tqdm
import torch

In [18]:
model = SentenceTransformer('all-MiniLM-L6-v2')

In [5]:
from chromadb.config import Settings
client = chromadb.Client(Settings(
    chroma_db_impl="duckdb+parquet",
    persist_directory="embedDB" # Optional, defaults to .chromadb/ in the current directory
))

WARNING:chromadb:Using embedded DuckDB with persistence: data will be stored in: embedDB

In [19]:
# Reading prepared csv
df = pd.read_csv('/content/drive/MyDrive/BlackBox/testdata.csv', engine='c', escapechar='\\')

In [11]:
df.shape

(81450, 3)

In [12]:
df.head()

,title,text,path
0,0001011920002174088_01122021_02012021.PDF,In case you wish to update the personal detai...,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...
1,0001011920002174088_01122021_02012021.PDF,Address :H.N. 31-A MAHADEV JHARKHANDI TU.,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...
2,0001011920002174088_01122021_02012021.PDF,1 POLICESTN.,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...
3,0001011920002174088_01122021_02012021.PDF,CANTT DT - GORAKHPURGORAKHPUR-273008 UP00GST N...,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...
4,0001011920002174088_01122021_02012021.PDF,"Pleaseensure that at least the ""Minimum Amount...",C:\Users\mishr\OneDrive\Desktop\Learning\FastA...

In [21]:
sentences = df.text.to_list()

In [22]:
len(sentences)

81450

In [23]:
with torch.no_grad():
    embeddings = model.encode(sentences, device='cuda')

In [24]:
len(embeddings)

81450

In [29]:
len(embedding_series_list)

81450

In [33]:
df['embeddings'] = list(embeddings)

In [34]:
df.head()

,title,text,path,embeddings
0,0001011920002174088_01122021_02012021.PDF,In case you wish to update the personal detai...,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...,"[-0.047489736, 0.013820825, -0.00944892, -0.02..."
1,0001011920002174088_01122021_02012021.PDF,Address :H.N. 31-A MAHADEV JHARKHANDI TU.,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...,"[-0.06960903, 0.069714315, -0.057378452, 0.010..."
2,0001011920002174088_01122021_02012021.PDF,1 POLICESTN.,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...,"[-0.076337375, -0.00044659118, -0.07685621, -0..."
3,0001011920002174088_01122021_02012021.PDF,CANTT DT - GORAKHPURGORAKHPUR-273008 UP00GST N...,C:\Users\mishr\OneDrive\Desktop\Learning\FastA...,"[-0.092381895, 0.018006029, -0.044200417, 0.00..."
4,0001011920002174088_01122021_02012021.PDF,"Pleaseensure that at least the ""Minimum Amount...",C:\Users\mishr\OneDrive\Desktop\Learning\FastA...,"[-0.036951825, 0.002992114, 0.06865795, 0.0081..."

In [35]:
df.shape

(81450, 4)

In [ ]:
df.to_csv('text_with_embeddings.csv')